Redirect 301 / http://www.morellino.ch/kirsch-likoer

RewriteEngine On
RewriteCond %{HTTP_HOST} ^morellino.ch
RewriteRule (.*) https://www.morellino.ch/$1 [R=301,L]
RewriteRule ^kirsch-likoer index.html [NC,L]
RewriteRule ^liqueur-de-cerises fr.html [NC,L]