/* colors
=========
turqoise: #072620;
muddy-brown: #594827;
Ocker: #BF8E63;
camel: #A6785D;
pink-gray: #BFADA8; */
:root {
	--rose: #d9c6c8;
	--gris: #eff0f2;
	--noir: #484546;
	--brun: #594827;
	--beige: #e3dcd3;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 0 0 0;
	scroll-behavior: smooth;
	font-family: EB Garamond, Georgia, serif;
	font-weight: 100;
	text-align: center;
}

/* typography
============= */

p {
	color: var(--brun);
	font-size: 1.5em; 
}

#get p {
	color: var(--rose);
	font-style: italic;
}

#get em, #get a {
	color: var(--beige);
}

#get a {
	border-bottom: 1px solid var(--beige);
}

#get a:hover, #get a:active {
	color: var(--gris);
}

p a, em {
	color: inherit;
	color: var(--noir);
	font-style: normal;
	text-decoration: none;

	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 3px;
}

p a {
	border-bottom: 1px solid var(--noir);
	padding-bottom: 1px;
}

a.nounderline {
	border: none !important;
	text-decoration: none !important;
}

p a:hover, p a:active {
	color: #000000;
	border-color: #594827;
}

.imglink {
	transition: transform .2s;
}

.imglink:hover {
	transform: scale(1.05);
}

p a[href^="http"]:before {
	content:  "➡ " ;
}

/* sections
=========== */

#hero {
	height: 100vh;
	background-color: var(--rose);
	position: relative;
	
}

.shadowed {
	box-shadow:
		inset 0px 10px 5px -10px var(--brun),
		inset 0px -10px 5px -10px var(--brun);
}

.darkshadowed {
	box-shadow:
	inset 0px 10px 5px -10px #000000,
	inset 0px -10px 5px -10px #000000;
}

#hero p {
	padding: 2em 0.5em 2em 0.5em;
	font-size: 2.5rem;
	font-style: italic;
	font-weight: 200;
	color: var(--noir);
	text-shadow: 1px 1px 1px #A6785D;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#explain {
	background-image: url("img/explain.png");
	background-size: cover;
	min-height: 80vh;
	min-height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
	z-index: 500;
}

#blossoms {
	background-image: url("img/cherries.JPG");
	background-size: cover;
	min-height: 80vh;
	min-height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
}

#story {
	background-color: var(--gris);
	padding-top: 0.5em;
	padding-bottom: 2.25em;
}

#story p {
	text-align: left;
	font-style: italic;
	padding: 1em 1.5em 0 1.5em;
	line-height: 1.5em;
}

#product {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--beige);
	align-items: center;
	padding-top: 1.5em;
	padding-bottom: 1em;
}

#describe {
	padding-bottom: 2.25em;
	padding-top: 2.25em;
}

#describe p {
	text-align: left;
	font-style: normal;
	padding-left: 1em;
	padding-right: 1.5em;
	line-height: 1.5em;
	padding-bottom: 1em;
}
  
#bottle {
	flex: 40%;
}

#bottle img {
	width: 100%;
	height: auto;
	max-width: 800px;
}
  
#describe {
	flex: 60%;
}
  
@media (max-width: 800px) {
	#bottle, #describe {
		flex: 100%;
	}

	#describe {
		padding-top: 0.5em;
		padding-left: 1em;
	}
}

#get {
	background-color: var(--noir);
	padding: 2em;
}

/* button
========= */

.buttoncontainer {
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
}

@media (max-width: 800px) {
	button {
		flex: 100%;
		margin-top: 2em;
	}
}

button {
  align-items: center;
  background-image: linear-gradient(144deg, var(--rose), var(--gris));
  background-color: var(--noir);
  border: 2px solid var(--rose);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: var(--noir);
  font-size: 1.1em;
  flex: 25%;
  height: 2.5em;
  padding: 0 1em;
  margin-top: 2em;
  justify-content: center;
  outline: 0;
  text-align: center;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
  color: var(--noir);
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: 1em;
  margin-right: 1em;
  white-space: nowrap
}

button:hover {
  border-color: var(--rose);
  background-image: linear-gradient(144deg, var(--rose), var(--noir));

  color: var(--rose);
  fill: var(--rose);
}

button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 800px) {
  button {
    min-width: 170px;
  }
}

/* cocktails
============ */

#cocktailss {
	background-color: var(--gris);
	padding: 5em;
}


#cocktails {
	padding-top: 5em;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5em;
	min-height: 100vh;
	display: grid;
}

@media (max-width: 800px) {
	#cocktails {
		grid-template-columns: 1fr;
	}
}

figure img {
	width: 100%;

}

figure { 
	position: relative;

}

figure:hover figcaption {
    opacity: 1;
    transition: linear 500ms;
}

figure:hover img {
    -webkit-filter: grayscale(80%) blur(2px) contrast(10%);
    filter: grayscale(80%) contrast(1%) brightness(175%);
    transition: linear 500ms;
    transition: linear 500ms;

}

figcaption {
    opacity: 0;
    color: #0D0621;
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-content: center;
    text-align: center !important;
	font-style: italic;
}

figcaption h3 {
    text-align: center !important;
    margin-top: 0.1em !important;
    width: 100% !important;
    font-size: 1em;
    border-top: 1px solid rgb(13, 6, 33) !important;
    border-bottom: none !important;
    font-variant: small-caps;
	font-style: normal;
}

/* cocktail description
*********************** */

.collapsed p {
	margin-bottom: 1em;
	text-align: left;
	font-style: italic;
}

ul {
	list-style-type: none;
	padding-left: 1em;
	font-size: 1.5em; 
	padding-bottom: 1em;
	color: var(--noir)
}

li {
	text-align: left;
	margin-left: 0;
}


.collapsed {
	padding-top: 5em;
	display: none;
	position: absolute;
	min-height: 100%;
	height: 100%;
	z-index: 150;
	padding-left: 5em;
	padding-right: 10em;
	max-width: 100%;
	min-width: calc(100% - 10em);
	background-color: RGBA(239, 240, 242, 0.9);
    align-items: center;
}

.collapsed div {
	min-width: 100%;
}

.right{
	float: right;
}

.collapsed:target {
	display: flex;
}


#more {
	min-height: 6em;
	background-color: var(--brun)
}


/* typography
============= */
/* 
.logo {
	color: #072620;
	font-size: 3em;
	font-weight: 500;
	letter-spacing: .2em;
}

.title {
	font-size: 2.5rem;
	font-style: italic;
	font-weight: 200;
	left: 1em;
	right: 1em;
	margin: auto;
}

@media (max-width: 50rem) {
	.title {
		font-size: 1.5em;
	}
}

.right {
	float: right;
}

.centered {
	text-align: center;
}

a {
	color: inherit;
	font-style: normal;
	text-decoration: none;
	border-bottom: 1px solid #072620;
	padding-bottom: 1px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 3px;
}

a:hover {
	color: #072620;
	border-color: #594827;
} */
/* colors
=========
turqoise: #072620;
muddy-brown: #594827;
Ocker: #BF8E63;
camel: #A6785D;
pink-gray: #BFADA8; */
/* p {
	text-align: justify;
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 3em;
}

p a, label a {
	color: #072620;
	border-color: #BF8E63;
}

p a:hover,
p a:focus,
label a:hover {
	color: #BF8E63;
	border-color: #072620;
}

.contact a {
	color: #BF8E63;
	border-color: #BFADA8
}

.contact a:hover {
	color: #BFADA8;
	border-color: #BF8E63;
}

.text-img {
	height: .9em;
}

.noline {
	border-bottom: 0px;
}

em {
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.85em;
	letter-spacing: 0.2em;
	color: #BF8E63;
}

em.dark {
	color: #072620;
}

.hand {
	font-family: 'Rock Salt';
	text-transform: none;
}

.italic {
	font-style: italic;
}

.indent {
	text-indent: 1em;
}


@media (min-width: 50rem) {
	.title {
		font-size: 3.7rem;
	}
	
	p {
		font-size: 1.5em;
	}
}

.filtered {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.tooltip {
	border-bottom: 1px  dotted #072620;
	padding-bottom: 1px;
} */

/* navigation
========= */
/*
nav ul {

	padding: 0;
	list-style: none;
}

nav li {
	padding-bottom: 0.5em;

	display: inline-block;
}

nav a {
	margin: 1em;
	border: 0px;
}

@media (max-width: 50rem) {
	nav {
		display: none;
	}
} */


/* sections
============ */
/*
.home {
	background-color: var(--rose);
	color: var(--noir);
	text-shadow: 1px 1px 1px #A6785D;
	height: 88vh;
	position: relative;
	box-shadow:
		inset 0px 10px 5px -10px var(--brun),
		inset 0px -10px 5px -10px var;
}

.home .title {
	margin: 1em 0 1em 0;
}

.title {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}

.contact {
	padding-top: 5em;
	padding-bottom: 1em;
} */

/* todo
======= */
/*
ul.todo {
	margin: 3em;
	font-size: 1.5em;
	padding: 0;
	font-style: italic;
	list-style: none;
}

.todo li {
	padding-bottom: 0.5em;
	position: relative;
}

div.todo {
	display: flex;
	margin-left: 25px;
	margin-right: 3em;
	width: 100%;
	height: 1em;
}

.dots {
	display: block;
	background: radial-gradient(circle, rgba(0,0,0,.62) 1px, transparent 1px) repeat-x;
	background-size: 10px 1.5em;
	flex-grow: 10;
}

label {
	height: 1em;
}

.cost {
	font-style: normal;
	font-family: 'Rock Salt';
	font-size: 0.6em;
	padding-right: 1.8em;
}

input[type='checkbox'] {
	height: 1em;
	position: absolute;
	left: 10px;
	top: 11px;
}

input[type=checkbox]:checked + .todo {
	text-decoration: line-through;
}

@media (max-width: 50rem) {
	.dots {
		display: none;
	}

	.cost {
		background: red;

		display: none;
	}

	label {
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 1.5em;
		padding-right: 0.5em;
	}
}

*/

/* aspects
============ */

/*
.aspects {
	padding: 0;
	margin: 0 1em 1em 1em;
	position: relative;
}

figure {
	position: relative;
	margin: 0 0 1em 0;
	padding-top: 1em;
	width: 100%;
}

figure img {
	display: block;
	cursor: pointer;
}

figcaption {
	font-size: 0.5em;
	position: absolute;
	bottom: 2em;
	color: #072620;
	z-index: 100;
	text-transform: uppercase;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	font-weight: 500;
	letter-spacing: 1.5em;
	display: block;
	cursor: pointer;
}

figure:hover figcaption {
	display: block;
}

@media (min-width: 50rem) {

	figure {
		display: inline-block;
		width: 30% !important;
		margin: 1.5% 1.5% 1.5% 1.5%;
	}
	
	figcaption {
		display: none;
	}
}

.contact {
	background-color: #072620;
	color: #BFADA8;
}

.collapsed {
	display: none;
	position: absolute;
	top: 0px;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	z-index: 150;
	overflow-y: scroll;
	background-color: rgba(255, 255, 255,0.95);
}

.collapsed:target {
	display: block;
}

.contact .collapsed {
	position: relative;
	background: none;
}

.collapser:target .collapsed {
	display: inline;
}

.collapser:target .collapsing {
	display: none;
} */



/* colors
=========

turqoise: #072620;
muddy-brown: #594827;
Ocker: #BF8E63;
camel: #A6785D;
pink-gray: #BFADA8;

*/