/* colors
=========
turqoise: #072620;
muddy-brown: #594827;
Ocker: #BF8E63;
camel: #A6785D;
pink-gray: #BFADA8; */
:root {
	--rose: #d9c6c8;
	--gris: #eff0f2;
	--noir: #484546;
	--brun: #594827;
	--beige: #e3dcd3;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 0 0 0;
	scroll-behavior: smooth;
	font-family: EB Garamond, Georgia, serif;
	font-weight: 100;
	text-align: center;
}

/* typography
============= */

p {
	color: var(--brun);
	font-size: 1.5em; 
}

h1 {
	color: var(--brun);
	font-size: 1.5em; 
}

#get p {
	color: var(--rose);
	font-style: italic;
}

#get em, #get a {
	color: var(--beige);
}

#get a {
	border-bottom: 1px solid var(--beige);
}

#get a:hover, #get a:active {
	color: var(--gris);
}

p a, em, h1 a, li a {
	color: inherit;
	color: var(--noir);
	font-style: normal;
	text-decoration: none;

	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 3px;
}

p a, h1 a {
	border-bottom: 1px solid var(--noir);
	padding-bottom: 1px;
}

a.nounderline {
	border: none !important;
	text-decoration: none !important;
}

p a:hover, p a:active, h1 a:hover, h1 a:active{
	color: #000000;
	border-color: #594827;
}

.imglink {
	transition: transform .2s;
}

.imglink:hover {
	transform: scale(1.05);
}

p a[href^="http"]:before,  li a[href^="http"]:before {
	content:  "➡" ;
}

/* sections
=========== */

#hero {
	height: 100vh;
	background-color: var(--rose);
	position: relative;
	
}

.shadowed {
	box-shadow:
		inset 0px 10px 5px -10px var(--brun),
		inset 0px -10px 5px -10px var(--brun);
}

.darkshadowed {
	box-shadow:
	inset 0px 10px 5px -10px #000000,
	inset 0px -10px 5px -10px #000000;
}

#hero h1 {
	padding: 2em 0.5em 2em 0.5em;
	font-size: 2.5rem;
	font-style: italic;
	font-weight: 200;
	color: var(--noir);
	text-shadow: 1px 1px 1px #A6785D;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#explain {
	background-image: url("img/explain.jpg");
	background-size: cover;
	min-height: 80vh;
	min-height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
	z-index: 500;
}

#blossoms {
	background-image: url("img/cherries.jpg");
	background-size: cover;
	min-height: 80vh;
	min-height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
}

#story {
	background-color: var(--gris);
	padding-top: 0.5em;
	padding-bottom: 2.25em;
}

#story p {
	text-align: left;
	font-style: italic;
	padding: 1em 1.5em 0 1.5em;
	line-height: 1.5em;
}

#product {
	display: flex;
	flex-wrap: wrap;
	background-color: var(--beige);
	align-items: center;
	padding-top: 1.5em;
	padding-bottom: 1em;
}

#describe {
	padding-bottom: 2.25em;
	padding-top: 2.25em;
}

#describe p {
	text-align: left;
	font-style: normal;
	padding-left: 1em;
	padding-right: 1.5em;
	line-height: 1.5em;
	padding-bottom: 1em;
}
  
#bottle {
	flex: 40%;
}

#bottle img {
	width: 100%;
	height: auto;
	max-width: 800px;
}
  
#describe {
	flex: 60%;
}
  
@media (max-width: 800px) {
	#bottle, #describe {
		flex: 100%;
	}

	#describe {
		padding-top: 0.5em;
		padding-left: 1em;
		padding-bottom: 1em;
	}
}

#get {
	background-color: var(--noir);
	padding: 2em;
}

/* button
========= */

.buttoncontainer {
	margin-top: 1em;
	margin-bottom: 1em;
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;
}

@media (max-width: 800px) {
	button {
		flex: 100%;
		margin-top: 2em;
	}
}

button {
  align-items: center;
  background-image: linear-gradient(144deg, var(--rose), var(--gris));
  background-color: var(--noir);
  border: 2px solid var(--rose);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: var(--noir);
  font-size: 1.1em;
  flex: 25%;
  height: 2.5em;
  padding: 0 1em;
  margin-top: 2em;
  justify-content: center;
  outline: 0;
  text-align: center;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;  
  color: var(--noir);
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-left: 1em;
  margin-right: 1em;
  white-space: nowrap
}

button:hover {
  border-color: var(--rose);
  background-image: linear-gradient(144deg, var(--rose), var(--noir));

  color: var(--rose);
  fill: var(--rose);
}

button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 800px) {
  button {
    min-width: 170px;
  }
}

/* cocktails
============ */

#COCKTAILS {
	background-color: var(--gris);
	padding: 5em;
	
}

#COCKTAILS p {
	text-align: left;
}


#cocktails {
	padding-top: 5em;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5em;
	min-height: 100vh;
	display: grid;
}

@media (max-width: 800px) {
	#cocktails {
		grid-template-columns: 1fr;
	}

	figcaption {
		opacity: 1 !important;
		box-decoration-break: clone;
		
		background: radial-gradient(closest-side, var(--noir), rgba(0,0,0,0))

	}	

	figure img {
		filter: blur(1px) brightness(0.6) contrast(66%);
	}

	figcaption h3, figcaption span {
		color: var(--gris);
		text-shadow: 0px 0px 1px black;
	}



	figcaption h3 {
		border-top: 1px solid var(--gris) !important;

	}

	figure:hover img {
		-webkit-filter: blur(2px) brightness(0.6) !important;
		filter: blur(2px) brightness(0.6) !important;
	}
	

}

figure img {
	width: 100%;

}

figure { 
	position: relative;

}

figure:hover figcaption {
    opacity: 1;
    transition: linear 500ms;
}

figure:hover img {
    -webkit-filter: grayscale(80%) blur(2px) contrast(10%);
    filter: grayscale(80%) contrast(1%) brightness(175%);
    transition: linear 500ms;
    transition: linear 500ms;
}

figcaption {
    opacity: 0;
    color: #0D0621;
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-content: center;
    text-align: center !important;
	font-style: italic;
}

figcaption h3 {
    text-align: center !important;
    margin-top: 0.1em !important;
    width: 100% !important;
    font-size: 1em;
    border-top: 1px solid rgb(13, 6, 33);
    border-bottom: none !important;
    font-variant: small-caps;
	font-style: normal;
}

/* cocktail description
*********************** */

#COCKTAILS {
	position: relative;
}

@media (max-width: 800px) {
	.collapsed {
		padding: 1em !important;
	}
}

.collapsed p {
	margin-bottom: 1em;
	text-align: left;
	font-style: italic;
}

ul {
	list-style-type: none;
	padding-left: 1em;
	font-size: 1.5em; 
	padding-bottom: 1em;
	color: var(--noir)
}

li {
	text-align: left;
	margin-left: 0;
	margin-bottom: 0.5em;
}


.collapsed {
	padding: 5em;	
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	overflow-y: hidden;
	z-index: 999;
	background-color: RGBA(239, 240, 242, 0.95);
	transition: all 0.3s;
	pointer-events: none;
	opacity: 0;
	box-shadow:
	inset 0px 10px 5px -10px var(--brun),
	inset 0px -10px 5px -10px var(--brun);
}



.collapsed div {
	min-width: 100%;
}

.right {
	float: right;
}

.collapsed:target {
	display: flex;
	pointer-events: auto;
	opacity: 1;
}


#more {
	min-height: 6em;
	background-color: var(--brun);
	display: flex;
	align-items: center;
	position: relative;
}

#more p {
	color: var(--rose);
	font-size: 1em;
	font-style: italic;
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#more em {
	color: var(--beige)
}

#more a {
	color: var(--beige);
	border-bottom: 0px solid var(--beige);
}	
